*{
  margin: 10px;
  padding: 10;
  font-style: oblique;
  font-family: helvetica;
  font-weight: bold;
}
.bg{
  width:70%;
  margin: 20px auto;
  padding:20px;
}
h1#center {
  text-align: center;
  color: #0c343d;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #eee2dc;
}
button#add {
  background-color: #bab2b5;
  height: 35px;
  border-radius: 3px;
  float: right;
  width: 20%;
  color: white;
}
button#add:hover {
  background-color: #bab2b5;
  color: #0c343d;
}
input {
  font-weight: lighter;
  font-size: 20px;
  width: 70%;
  margin: 10px auto;
  color: #edc7b7;
  border-radius: 3px;
}
.remove {
  background-color: #bab2b5;
  font-size: 14px;
  float:right;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
.check{
  background-color: #bab2b5;
  font-size: 14px;
  float:right;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
.remove:hover {
  background-color: #bab2b5;
  color: #0c343d;

}
.check:hover {
  background-color: #bab2b5;
  color: #BEDFA6;
}
ul {
  width: 70%;
  list-style-type: none;
}
li.delicious{
  margin-bottom: 20px;
  padding: 20px;
  font-size: 24px;
  color:  #0c343d;
  border-radius: 3px;
}
li.strike {
  text-decoration: line-through;
  weight: bold;
  color: #BEDFA6;
}
button.priority {
  background-color: #bab2b5;
  font-size: 14px;
  float:right;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
li.priority {
  weight: bold;
  color: red;
}
